@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #faf8fc;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000001' fill-opacity='0.1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title {
    font-size: 3rem;
    /* border-bottom: 1px solid rgba(17, 17, 26, 0.1) */
}

.joke-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.joke-text-container {
    display: flex;
    flex-direction: row;
    font-size: 2.75rem;
}

.long-quote {
    font-size: 2rem
}

/* .joke-text {
    display: flex;
    flex-direction: column;
} */

.fa-face-grin-squint-tears {
    font-size: 5rem;
    padding-right: 0.5rem;
}

#joke {
    margin-top: 1rem;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #333;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    height: 2.5rem;
    margin: 0;
    outline: none;
    padding: 0.6rem 2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
}

button:hover {
    background-color: rgb(29, 29, 29);
}

button:active {
    transform: translate(0, 0.3rem);
    /* box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65); */
}

.twitter-button {
    color: #fff;
    padding: 0.6rem 1rem;
}

.twitter-button:hover {
    color: rgb(29, 155, 240);
}

.fa-twitter {
    font-size: 1.2rem;
}

@media (max-width: 960px) {
    .joke-container {
        margin: 0 1rem;
    }
}